.custom-button {
  font-weight: 600;
  color: $white-color;
  cursor: pointer;

  &__modal {
    padding: 4%;
    border: 2px solid $dark-color;
    border-radius: 5px;
    font-size: 10px;
    background-color: $semi-dark-color;
    box-shadow:
      -3px 4px 0 $dark-color,
      -5px 7px 0 $dark-color;

    &:hover,
    &.active {
      background-color: $secondary-color;
    }
  }

  &__pagination {
    padding: 8px 12px;
    background-color: $primary-color;
    border: none;
    cursor: pointer;
    border-radius: 0;
  }
  &:hover {
    background-color: $primary-color;
  }

  &:disabled {
    background-color: $disabled-color;
    cursor: not-allowed;
  }

  &__table {
    padding: 2%;
    border: 2px solid $dark-color;
    border-radius: 5px;
    font-size: 14px;
    background-color: $semi-dark-color;

    &:hover {
      background-color: $primary-color;
    }
  }
}
