.custom-button {
  font-weight: 600;
  color: white;
  cursor: pointer;
}

.modal-button {
  padding: 4%;
  border: 2px solid #000;
  border-radius: 5px;
  font-size: 10px;
  font-weight: 600;
  color: white;
  background-color: #444;
  box-shadow:
    -3px 4px 0 #222,
    -5px 7px 0 #000;
}

.pagination-button {
  padding: 8px 12px;
  background-color: #ff5859;
  color: #fff;
  border: none;
  cursor: pointer;
}

.table-button {
  padding: 2%;
  border: 2px solid #000;
  border-radius: 5px;
  font-size: 14px;
  font-weight: 600;
  color: white;
  background-color: #444;
}

.table-button:hover {
  background-color: #ff5859;
}

.modal-button:hover,
.modal-button.active {
  background-color: #e00540;
}
