$primary-color: #ff5859;
$secondary-color: #e00540;
$table-primary-color: #34495e;
$table-secondary-color: #3d566e;
$disabled-color: #ccc;
$semi-dark-color: #444;
$dark-color: #000;
$white-color: white;
